<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="css/app.bundle.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<script src="js/app.bundle.js" defer></script>
</head>
<body>
<div class="container">
  <br>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th colspan="4"><i class="btn fa fa-amazon"></i>Book List</th>
        <th colspan="1">
          <a href="#" id="add" class="btn btn-light fa fa-plus"></a>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>3000</td>
        <td>
          <button type="button" class="btn fa fa-pencil"></button>
          <button type="button" class="btn fa fa-trash-o"></button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>4000</td>
        <td>
          <button type="button" class="btn fa fa-pencil"></button>
          <button type="button" class="btn fa fa-trash-o"></button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Title">
          </div>
        </td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Author">
          </div>
        </td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Price">
          </div>
        </td>
        <td>
          <button type="button" class="btn fa fa-floppy-o"></button>
          <button type="button" class="btn fa fa-ban"></button>
          <button type="button" class="btn fa fa-trash-o"></button>
        </td>
      </tr> --}}
    </tbody>
  </table>
</div>
</body>
</html>
